/*.cover__link {
  min-height: 740px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  align-items: center;
  transition: background 0.8s ease-in-out;
  background-color: rgba(42, 44, 47, .3);
}


.cover__link:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
} 

@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 375px) {
  .cover__link {
    min-height: 320px;
  }
}*/

.cover__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  aspect-ratio: 16/10;
  color: #FFF;
  background-color: rgba(42, 44, 47, .3);
  margin: 0 auto;
  padding: 0;
  transition: all 0.8s ease-in-out;
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, .8);
}