.cover__subtitle {
  max-width: 33%;
  max-height: 27%;
  margin: auto;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateY(168px);
  z-index: 2;
}

@media screen and (max-width: 1150px) {
  .cover__subtitle {
    max-width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    max-width: 35%;

  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    max-width: 47%;
    transform: translateY(125px);
  }
}

@media screen and (max-width: 760px) {
  .cover__subtitle {
    max-width: 47%;
    transform: translateY(53px);
    font-size: 14px;
    line-height: 114%;
  }
}

@media screen and (max-width: 375px) {
  .cover__subtitle {
    max-width: 83%;
    transform: translateY(53px);
    font-size: 14px;
    line-height: 114%;
  }
}