.header__language-link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
  align-items: center;
}

.header__language-link:hover {
  opacity: 0.8;
  transition: 0.5 ease-in-out;
}



@media screen and (max-width: 375px) {
  .header__language-link { 
    font-size: 18px;
    line-height: 111%;
/* identical to box height, or 111% */
  }
}

