.intro__text{
  max-width: 70%;
  margin: 0;
  padding: 0;
  padding-bottom: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .intro__text {
    max-width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .intro__text {
    line-height: 163%;
  }
}