.cover {
  max-width: 100%;
  min-height: 754px;
  background-image: url('../../images/cover.jpg');
  background-size: cover;
  position: relative;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 650px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 62vw;
  }
}