.footer {
  padding-top: 91px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: baseline;
}

@media screen and (max-width: 1024px) {
  .footer {
   padding: 91px 48px 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
   padding: 91px 26px 24px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column;
    padding: 70px 0 0 15px;
    align-items: baseline;

  }
}

@media screen and (max-width: 375px) {
  .footer {
    flex-direction: column;
    padding: 70px 0 0 15px;
    align-items: baseline;

  }
}