.footer {
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: baseline;
}

@media screen and (max-width: 1024px) {
  .footer {
   padding-left: 48px;
   padding-right: 48px;
   padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
   padding: 0px 26px 24px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column;
    padding: 0px 0 0 15px;

  }
}